@model partner_aluro.ViewModels.AddProductFormModel




<div class="form-group row">
    <label asp-for="@Model.Product.Name" class="col-sm-2 col-form-label">Nazwa produktu</label>
            <div class="col-sm-5">
            <input asp-for="@Model.Product.Name" class="form-control" aria-required="true"  placeholder="Nazwa produktu" />
            <span asp-validation-for="@Model.Product.Name" class="text-danger">
            </span>
            </div>
    </div>

<div class="form-group row">
            <label asp-for="@Model.Product.Symbol" class="col-sm-2 col-form-label">Symbol</label>
            <div class="col-sm-5">
            <input asp-for="@Model.Product.Symbol" class="form-control" aria-required="true" placeholder="Symbol" />
            <span asp-validation-for="@Model.Product.Symbol" class="text-danger">
            </span>
            </div>
        </div>

<div class="form-group row">
            <label asp-for="@Model.Product.CenaProduktu" class="col-sm-2 col-form-label">Cena produktu</label>
            <div class="col-sm-5">
            <input asp-for="@Model.Product.CenaProduktu" class="form-control" aria-required="true" placeholder="Cena produktu" />
            <span asp-validation-for="@Model.Product.CenaProduktu" class="text-danger">
            </span>
            </div>
    </div>
<div class="form-group row">
            <label asp-for="@Model.Product.CenaProduktuDetal" class="col-sm-2 col-form-label">Sugerowana cena</label>
            <div class="col-sm-5">
            <input asp-for="@Model.Product.CenaProduktuDetal" class="form-control" aria-required="true" placeholder="Cena detaliczna produktu" />
            <span asp-validation-for="@Model.Product.CenaProduktuDetal" class="text-danger">
            </span>
            </div>
    </div>
@*
@await Component.InvokeAsync("ImageUploader", @Model.Product)*@


@*
<vc:ImageUploader label-name="Contrived Example"></vc:ImageUploader>*@

<div class="form-group">
    <label asp-for="@Model.Product.FrontImage" class="control-label"></label>
    <div class="custom-file">
        <input asp-for="@Model.Product.FrontImage" class="custom-file-input" id="FLFrontImage"
               onchange="document.getElementById('FrontImagePrv').src = window.URL.createObjectURL(this.files[0])" />
        <label class="custom-file-label" for="FLFrontImage">Wybierz plik</label>
    </div>

    <img id="FrontImagePrv" src="" alt="Logo image" width="150" height="150" style="border:1px; margin-top:20px; margin-left:120px" />
</div>


    <h4 class="mb-3">Wymiary</h4>
    <div class="input-group">
        <input asp-for="@Model.Product.SzerokoscProduktu" type="text" class="form-control" aria-label="Szerokość produktu" placeholder="Szerokość produktu">
        <input asp-for="@Model.Product.WysokoscProduktu" type="text" class="form-control" aria-label="Wysokość produktu" placeholder="Wysokość produktu">
        <input asp-for="@Model.Product.GlebokoscProduktu" type="text" class="form-control" aria-label="Głębokość produktu" placeholder="Głębokość produktu">
    </div>

    <hr class="my-4">
    <h4 class="mb-3">Kategoria Produktu</h4>

    @for (int i = 0; i < @Model.Categories.Count(); i++)
    {
        <div class="form-check">
            @Html.CheckBoxFor(c => c.Categories[i].Selected)
            @Html.HiddenFor(h => Model.Categories[i].Value)
            @Html.LabelFor(l => Model.Categories[i].Selected, Model.Categories[i].Text, new {@class="form-check-label"})
            @Html.HiddenFor(h => Model.Categories[i].Text)
        </div>
    }
    <div class="form-group row">
            <label asp-for="@Model.Product.Description" class="col-sm-2 col-form-label">Opis produktu</label>
            <textarea asp-for="@Model.Product.Description" class="form-control" rows="3"></textarea>
    </div>

@section Sctipts {
              
        <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        }); 
        </script>
}