<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - partner_aluro</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    <!--jQuery Search and enather-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    @RenderSection("LinkStyleHead", required: false)
    <!-- fontawesome cdn -->


    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    @*<link rel="stylesheet" href="~/Content/SiteKurs.css" type="text/css" />*@
</head>
<body>
    @Html.Partial("_Header") @*To musi tak zostać te linijki nie ruszaj jest dobrze*@
    <main>
        <div class="container">
                @RenderBody()

        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div id="footer">
            @Html.Partial("_Footer")
          <div>
    </footer>
    @*DO BOOTSTRAp INSTAL*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*DO BOOTSTRAP INSTAL*@



   @* @RenderSection("Scripts", required: false)*@
   @await RenderSectionAsync("Scripts", required: false)

    @* SZUKANIE SCRIPTS*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#szukanaNazwa").autocomplete(
                {
                    source: '../api/postapi/search'
                });
        });
    </script>

    <script>
        $(function () {
            $("#szukanaNazwa").keyup(function (e) {
                var n = $("#szukanaNazwa").val();

                $.get("/Category/Lista2?szukanaNazwa=" + n, function (r) {
                    //update ui with results
                    $("#SekcjaListaKategori").html(r);
                });
            });
        });
    </script>

</body>
</html>