
@{
    ViewData["Title"] = "CheckoutComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model partner_aluro.Models.Order

<h1>Thank you for your order!</h1>

<h5 class="mt-5">Order Id: @Model.Id</h5>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Produkt</th>
            <th>Cena</th>
            <th>Ilość</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            var itemTotal = item.Product.CenaProduktu * item.Quantity;
            <tr>
                <td>
                    <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id"><img src="@item.Product.NazwaPlikuObrazka" style="height: 4em"></a>
                </td>
                <td>
                    <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">@item.Product.Name</a>
                </td>
                <td>
                    @itemTotal.ToString()
                </td>
                <td>
                    @item.Quantity
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    <td></td>
    <td class="text-right">
        <strong>Total:</strong>
    </td>
    <td>
        <strong>@Model?.OrderTotal.ToString()</strong>
    </td>
    <td></td>
    </tfoot>
</table>


