@model partner_aluro.Models.Cart

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Cart</h1>

@if (Model.CartItems.Count >0)
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Produkt</th>
                <th>Cena</th>
                <th>Quantity</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                var ProductTotal = item.Product.CenaProduktu * item.Quantity;
                <tr>
                    <td>
                        <img src"@item.Product.ImageUrl" style="height: 4em">
                    </td>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @ProductTotal.ToString();
                    </td>
                    <td>
                        <a asp-controller="Cart" asp-action="ReduceQuantity" asp-route-id="@item.Product.ProductId"><i class="fa-solid fa-minus"></i></a>
                        <span class="badge badge-primary">@item.Quantity</span>
                        <a asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-id="@item.Product.ProductId"><i class="fa-solid fa-plus"></i></a>
                    </td>
                    <td>
                        <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Product.ProductId" class="text-danger"><i class="fa-solid fa-xmark"></i></a>
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <td></td>
            <td class="text">
                <strong>Total: </strong>
            </td>
            <td>
            <strong>@Model.GetCartTotal().ToString()</strong>
        </td>
        <td></td>
        <td></td>
         </tfoot>
    </table>

    <a class="a-cleanup" asp-controller="Order" asp-action="Checkout"><div class="btn btn-success float-right mr-5">Zamówienie <i class="fa-solid fa-angles-right"></i></div> </a>
    <a class="a-cleanup" asp-controller="Cart" asp-action="ClearCart"><div class="btn btn-danger float-right mr-5"><i class="fa-solid fa-trash-can"></i> Pusty koszyk</div> </a>
}else
{
    <h3 class="text-center">Koszyk jest pusty</h3>
}
